* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Segoe UI', sans-serif;
  background: linear-gradient(135deg, #43cea2, #185a9d);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.container {
  width: 100%;
  max-width: 420px;
  padding: 20px;
}


.signup-box {
  background: white;
  padding: 35px 30px;
  border-radius: 12px;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.2);
  text-align: center;
}


.signup-box h2 {
  margin-bottom: 10px;
  color: #333;
}


/* Input fields */
.input-group {
  text-align: left;
  margin-bottom: 20px;
}

.input-group label {
  display: block;
  margin-bottom: 6px;
  color: #444;
  font-size: 14px;
}

.input-group input {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 8px;
  font-size: 15px;
  transition: 0.3s ease;
}

.input-group input:focus {
  border-color: #43cea2;
  outline: none;
}


button {
  width: 100%;
  padding: 12px;
  background-color: #43cea2;
  border: none;
  color: white;
  font-size: 16px;
  border-radius: 8px;
  cursor: pointer;
  transition: 0.3s ease;
}

button:hover {
  background-color: #2ebc93;
}


.footer {
  margin-top: 20px;
  font-size: 14px;
}

.footer a {
  color: #185a9d;
  text-decoration: none;
}



@media (max-width: 480px) {
  .signup-box {
    padding: 30px 20px;
  }

  .signup-box h2 {
    font-size: 22px;
  }

  .input-group input {
    font-size: 14px;
  }

  button {
    font-size: 15px;
  }
}
